body {
    background-color: peachpuff;
}

/* Navigation Bar */
#main-nav {
    background-color: darkred;
    margin: 10px;
    text-align: center;
}

#main-nav li {
    display: inline-block;
    padding: 10px 50px;
}

#main-nav li a {
    color: black;
    text-decoration: none;
}

#main-nav li:hover {
    background-color: white;
    padding: 10px 50px;
}

/*Annyang Box */
#audioSwitch {
    background-color: green;
    color: white;
    font-family: monospace;
    padding: 5px;
    margin: 10px auto;
    clear: both;
    max-width: 500px;
    max-height: 500px;
}

.buttons-home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

/* Annyang Buttons */
.button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

/* Home Buttons */
.button-89 {
    --b: 3px;
    --s: .45em;
    --color: #373B44;

    padding: calc(1.5em + var(--s)) calc(3.6em + var(--s));
    font-size: 30px;
    color: var(--color);
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.button-89:active {
    background: var(--color);
    color: #fff;
}

/* Quote Box */
#quoteBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 20px;
    background-color: whitesmoke;
    max-width: 500px;
    max-height: 200px;
    margin: 20px auto;
}

#quote {
    align-items: center;
    justify-content: center;
}

/* dog pic carousel*/
#dog-carousel {
    width: 100%;
    height: 0;
    padding-bottom: 25%;
    position: relative;
}

#dog-carousel img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* dog breed */
#buttons-container {
    text-align: center;
    margin: 30px;
}

.button {
    background-color: transparent;
    border: 1px solid #266DB6;
    box-sizing: border-box;
    color: #00132C;
    font-family: "Avenir Next LT W01 Bold", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 16px 23px;
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 5px 10px;
}

.button:hover,
.button:active {
    outline: 0;
}

.button:hover {
    background-color: transparent;
    cursor: pointer;
}

.button:before {
    background-color: #D5EDF6;
    content: "";
    height: calc(100% + 3px);
    position: absolute;
    right: -7px;
    top: -9px;
    transition: background-color 300ms ease-in;
    width: 100%;
    z-index: -1;
}

.button:hover:before {
    background-color: #6DCFF6;
}

@media (min-width: 768px) {
    .button {
        padding: 16px 32px;
    }
}

#breed-info-container {
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    background-color: whitesmoke;
}

/*stocks button */
.button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 10px;
}

.button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

@media (min-width: 768px) {
    .button-54 {
        padding: 0.25em 0.75em;
    }
}

/* reddit stocks table */
table {
    width: 50%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    background-color: white;
}

th {
    background-color: #f2f2f2;
}